profile home-dock {
    output eDP-1 disable
    output "Samsung Electric Company SAMSUNG 0x01000E00" mode 3840x2160 position 0 0
    output "ChangHong Electric Co.,Ltd PMO S320-IQC V9W170100001" mode 2560x1440 position 3840 0
}

profile undocked {
    output eDP-1 enable mode 1920x1200 position 0 0
}
